.box {
	height: 265px;
	border-radius: 15px;
	background-color: getClr(light-gray);

	&--white {
		border: 3px solid getClr(pink);
		background-color: getClr(white);
	}

	&--pink {
		border: 3px solid getClr(white);
		background-color: getClr(pink);
	}
}
