body,
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: getClr(background);
}

footer {
	background-color: getClr(white);
}

@media (min-width: 992px) {
	footer {
		background-color: getClr(light-gray);
	}
}

.wrapper {
	flex: 1 0 auto;
}
