.navbar {
	background-color: getClr(light-gray) !important;
}
.nav-link {
	color: getClr(dark-gray) !important;
}

.nav-link.active {
	color: getClr(pink) !important;
}

.navbar-toggler[aria-expanded='true'] {
	display: none !important;
}
